/* CSS Document */

body
{
margin:0;
padding:0;
background: #FFFFFF repeat;
}

.header
{

margin:0 auto;
width:auto;
height:100px;
background:url(../images/shared/image.JPG);/*url(images/shared/nav/aque_03.gif) aque_03.gif*/
border-radius-top-left:10px;
}
.menu2{
margin:0 auto;
width:auto;
height:40px;
background:url(../images/shared/nav/image.JPG);/*url(images/shared/nav/aque_02.gif)aque_03.gif*/
border-radius:10px;
margin-top:1px;
}
.logout{
float:right;
width:80px;
height:40px;
margin-top:10px;
margin-right:1px;
}
.left
{
float:left;
}
.menu {	
	height: 40px;
	width:1020px;

	background: url(images/shared/nav/image1.JPG);/*aque_02.gif*/
	/*background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);*/
}
.content
{
width:auto;
height:auto;
background-color: #FFFFFF;
margin-top:14px;
}

.left1
{
float:left;
width:450px;
height:400px;
background-color:#FF8080;/*#FFFFFF*/
margin-top:15px;
border-radius:10px;
}
.right1
{
float:right;
width:500px;
height:400px;
background-color: #FFFFFF;
border-radius:10px;
margin-top:15px;
}
.leftbg
{
float:left;
width:60px;
height:400px;
margin-top:40px;
}

.leftbg1
{
float:right;
width:60px;
height:400px;
margin-right:100px;
margin-top:-5px;
}
.leftbg2
{
float:left;
width:60px;
height:400px;
margin-left:70px;
margin-top:40px;
}
.leftbg3
{
float:right;
width:60px;
height:400px;
margin-top:40px;
margin-left:-2px;
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
input.largerCheckbox
{
	width: 30px;
	height: 30px;
}
.checkboxFour {
	width: 40px;
	height: 40px;
    background: #FFFFFF;/*background: #ddd;*/
	margin: 20px 90px;
	margin-left:10px;
	margin-top:-8px;
    border-radius:5px;

	/*border-radius: 100%;*/
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxFour label {
	display: block;
	/*width: 30px;
	height: 30px;*/
	width: 40px;
	height: 40px;
	/*border-radius: 100px;*/
	border-radius:5px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 1px;/*5PX*/
	z-index: 1;

background: #FFFFFF;/*background: #333;*/

	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxFour input[type=checkbox]:checked + label {
	background: #26ca28;
}



.left3
{
float:left;
width:40px;
height:40px;

margin-left:5px;
    background-color: #006600;
	background: -webkit-linear-gradient(top,#FFFFFF 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%,#2c2d33 100%);
	background: -o-linear-gradient(top,#FFFFFF 0%,#2c2d33 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#2c2d33 100%);
	background: linear-gradient(top, #FFFFFF 0%,#2c2d33 100%);
	border-radius:7px;
	margin-top:10px;
}



.leftw
{
float:right;
width:100px;
height:25px;
background-color:#CCCCCC;
margin-top:2px;
border-radius:5px;
margin-right:40px;
margin-left:-110px;
}
.var4-bg
{
margin:0 auto;
width:1060px;
height:400px;
background-color:#666666;
margin-top:-13px;
}

h5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
margin:10px 2px 2px 2px;
text-align:center;

}


.footer
{
margin:0 auto;
width:1060px;
height:40px;
background-color: #FFFFFF;
border-radius-bottom-left:10px;
clear:both;
}
h1
{
margin:0;
padding:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
text-align:center;
color:#CCCCCC;
}

.var1
{
margin:0 auto;
width:1060px;
height:50px;
background-color:#333333;
}
.var3
{
margin:0 auto;
width:1060px;
height:360px;
background-color:#CCCCCC;
}

.left
{
float:left;
}
.right
{
float:right;
margin-top:-80px;
}
img
{
border-radius:40px;
}
h2
{
margin:0;
padding:0;
color:#666666;
text-align:center;
padding-top:50px;
margin-right:100px;
}


/************************************10th page buytickets*********************************/

.left
{
float:left;
}
h2
{
margin:0;
padding:0;
color:#666666;
text-align:center;
padding-top:50px;
margin-right:100px;
}

/************************************11th page account*********************************/
.left
{
float:left;
margin:1px

}
.right
{
float:right;
margin-top:-20px;
}
img
{
border-radius:50px;

}

   
   
.toggler { 
  position:relative; 
  background:#333; 
  margin:55px auto; 
  overflow:hidden; 
  -webkit-border-radius:1em; 
  -moz-border-radius:1em; 
  border-radius:1em; 
  position:relative; 
  height:46px; 
  width:190px;
} 
 
.toggler input { 
  display:none; 
} 
 
.toggler label { 
  color:#fff; 
  display:block; 
  width:20px; 
  height:20px; 
  margin:3px 3px; 
  float:left; 
  -webkit-border-radius:1em; 
  -moz-border-radius:1em; 
  border-radius:1em; 
  padding:10px; 
  cursor:pointer; 
  background:#222; 
  text-align:center; 
} 
 
/* SLIDING BACKGROUND */ 
 
.slider { 
  width:40px; 
  height:40px; 
  position:absolute; 
  top:3px; 
  -webkit-border-radius:1em; 
  -moz-border-radius:1em; 
  border-radius:1em; 
  -webkit-transform:rotateY(180deg); 
  -moz-transform:rotateY(180deg); 
  -o-transform:rotateY(180deg); 
  transform:rotateY(180deg); 
  -webkit-transition:all .5s ease; 
  -moz-transition:all .5s ease; 
  -o-transition:all .5s ease; 
  transition:all .5s ease; 
  background:rgba(255,255,255,.2); 
} 
 
#t1:checked ~ .slider { 
  left:.1696em; 
  -webkit-transform:rotateY(360deg); 
  -moz-transform:rotateY(360deg); 
  transform:rotateY(360deg); 
} 
 
#t2:checked ~ .slider { 
  left:3.06em; 
  -webkit-transform:rotateY(540deg); 
  -moz-transform:rotateY(540deg); 
  transform:rotateY(540deg); 
} 
 
#t3:checked ~ .slider { 
  left:5.9689em; 
  -webkit-transform:rotateY(720deg); 
  -moz-transform:rotateY(720deg); 
  transform:rotateY(720deg); 
} 
 
#t4:checked ~ .slider { 
  left:8.8254em; 
  -webkit-transform:rotateY(900deg); 
  -moz-transform:rotateY(900deg); 
  transform:rotateY(900deg); 
} 
 
.fa { 
  text-align:center; 
  vertical-align:middle; 
} 
 
   
   

 
